<% title "Dashboard:" %>

        <div class="row">
          <h1>Rails 3.2 / Devise / Twitter Bootstrap Demonstration Site <%= "<span style='color:red;font-size: 9px;'>(alpha)</span>".html_safe if Rails.env == 'development' -%></h1>
          <p>
          Please sign-up and have a look around. Or try "jane", "123123".<br />
          The source code for this site can be found on github.com: <a class="btn btn-small" href="https://github.com/jehughes/rails3-devise-bootstrap-example" target="_blank">Github Repo</a>
          </p>
          <br />
        </div>
        <div class="row">
          <h5>Gem versions:</h5>
        </div>
        <%= render :partial => 'dashboard/partials/version' -%>
        <div class="row">
          <br />
          <h5>Caveats:</h5>
        </div>
        <div class="row">
          <ul>
            <li>There is a potential memory leak with bootstrap when working in the Rails development environment. The memory usage creeps up when I am editing bootstrap assets and doing iterative testing by just refreshing the browser and not restarting the app each time.</li>
            <li>Since I didn't use all of the devise features, you'll want to compare the original devise controllers and the overriding inherited controllers for what's missing.</li>
            <li>Only tested in latest version of Chrome and Firefox.</li>
            <li>Assumes user has Javascript and cookies enabled.</li>
          </ul>
        </div>
