<%= render :partial => 'layouts/partials/seotags', :locals => {:page_name => 'devise.registrations.edit'} -%>
<div class="well devise-form">
  <%= render :partial => 'devise/registrations/edit' -%>
</div>
