    <p class="muted credit">
    Author: Joan Hughes [<span style="font: 80% Arial,sans-serif; color:#0783B6;"><%= image_tag('Octocat_very_tiny.png') -%> <a href="http://github.com/jehughes" target="_blank">Github.com Page</a>], [<a href="http://www.linkedin.com/in/jehughes" target="_blank"><img src="http://www.linkedin.com/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="LinkedIn profile" style="vertical-align:middle" border="0">LinkedIn Profile</span></a>]<br />
    <small><b>NOTICE:</b> This is a demontration site. Any personal data saved will not be intentionally sold or distributed.<br />
    However, this is NO legal guarantee any information saved is maintained, private or secure. Use common sense.<br />
    </small></p>
