<p class="muted credit">
  Author: Joan Hughes 
   [<span class="little-text"><a href="http://joanswork.com" target="_blank"> joanswork.com </a></span>],
   [<span class="little-text"><%= image_tag('Octocat_very_tiny.png', alt: "octocat") -%> <a href="http://github.com/jehughes" target="_blank">Github.com Page</a></span>],
   [<span class="little-text"><a href="http://www.linkedin.com/in/jehughes" target="_blank"><img src="http://www.linkedin.com/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="LinkedIn profile" style="vertical-align:middle; border:0">LinkedIn Profile</a></span>]<br />
  <small><a href="<%= PRIVATE_DATA['legal_disclaimer_link'].html_safe -%>" target="_blank">Generic Site Usage Disclaimer</a> (exception: source in repository is under the MIT License)
  <br />
  <b>PRIVACY:</b> Any personal data saved will not be intentionally sold or distributed. However, there is NO legal guarantee any information saved is maintained, private or secure. Use common sense.
  </small>
</p>

